{{yield}}
<section class="text-center" id="product-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="cta">
          <h1>Our Inbound Hiring Features</h1>
          <p class="lead">Choose from our wide range of talent attraction features.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-center" style="padding-bottom:0">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-8">
        <ul class="accordion accordion-1 accordion--oneopen text-left" style="min-height: 492px;">
          <li class="active">
            <div class="accordion__title"> <span class="h5">Talent Marketing</span> </div>
            <div class="accordion__content">
              <h5>Attract more of the right candidates.</h5><br>
              <ul style="list-style:disc;margin-left: 30px;padding-bottom:30px;">
                <li>Reach Jobbio's 2m+ Talent Marketplace.</li>
                <li>Access to our Job Advertising Network including LinkedIn, Google, Indeed and Glassdoor.</li>
                <li>Leverage our exclusive global media network.</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="accordion__title"> <span class="h5">Employer Branding</span> </div>
            <div class="accordion__content">
              <h5>Use your employer brand and jobs posts to attract better talent.</h5><br>
              <ul style="list-style:disc;margin-left: 30px;padding-bottom:30px;">
                <li>Content rich company profile and jobs.</li>
                <li>Add testimonials from current employees to add social proof.</li>
                <li>Embeddable videos to showcase your office, your mission, values and culture.</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="accordion__title"> <span class="h5">Applicant Management</span> </div>
            <div class="accordion__content">
              <h5>Manage applications with ease.</h5><br>
              <ul style="list-style:disc;margin-left:30px;padding-bottom:30px;">
                <li>Access to our applicant tracking system.</li>
                <li>Post and update jobs or your company profile with ease.</li>
                <li>Review, shortlist and message applications on desktop or mobile.</li>
                <li>Add suitable candidates to your talent pool for future hiring.</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="accordion__title"> <span class="h5">Talent Experience</span> </div>
            <div class="accordion__content">
              <h5>Meet the best talent in the world.</h5><br>
              <ul style="list-style:disc;margin-left: 30px;">
                <li>Dynamic, private always live profiles.</li>
                <li>Question first applications to speed up conversion.</li>
                <li>Email, in app notifications and social targeting to nurture applications.</li>
                <li>Connect with the talent to hire now or for in the future.</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
