{{yield}}
<section class="text-center {{if offering 'bg--secondary'}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-xl-6">
        <div class="cta">
          <h1>Have A Question?</h1>
          <a id='productFooterSpeak' class="btn btn--primary type--uppercase">
            <span class="btn__text">Live Chat</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
