<div class="row no-border question text-question">
  <div class="col-12 col-sm-12">
    <h4>{{question.text}}</h4>
  </div>
  <div class="col-12 col-sm-12">
    {{textarea id=id name=id placeholder='Answer' value=answer class='form-control' rows='5' required=true}}
  </div>
</div>
