{{yield}}
<!-- Starts : Complete Bio Pending Modal -->
<div class="new-modal-overlay modal fade" id="jobCompleteBioPending" tabindex="-1" role="dialog" aria-labelledby="jobCompleteBio" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button id="jobCompleteBioPendingCloseButton" type="button" class="redirect-job-page close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-header">
        <h3>Complete Bio</h3>
      </div>
      <div class="modal-body">
        <p class="lead">You are 4 times more likely to be shortlisted <br> with a completed bio.</p>
      </div>
      <div class="modal-footer">
        <a id="jobCompleteBioPendingCloseCTA" data-dismiss="modal" class="redirect-job-page btn btn--sm type--uppercase">
          <span class="btn__text">Close</span>
        </a>
        <a id="jobCompleteBioPendingEditBio" class="go-edit-page btn btn--sm btn--primary type--uppercase">
          <span class="btn__text">Edit Bio</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End : Complete Bio Pending Modal -->
