{{yield}}
<a class="row">
  <div class="logo img-rounded shine" style="border: none;"></div>
  <span class="col-12" style="padding-top: 5px;padding-bottom: 10px;">
    <div style="width: 70%;height: 14px;" class="line shine"></div>
    <div style="width: 90%;" class="line shine"></div>
  </span>
</a>
<a class="row">
  <div class="logo img-rounded shine" style="border: none;"></div>
  <span class="col-12" style="padding-top: 5px;padding-bottom: 10px;">
    <div style="width: 70%;height: 14px;" class="line shine"></div>
    <div style="width: 90%;" class="line shine"></div>
  </span>
</a>
<a class="row">
  <div class="logo img-rounded shine" style="border: none;"></div>
  <span class="col-12" style="padding-top: 5px;padding-bottom: 10px;">
    <div style="width: 70%;height: 14px;" class="line shine"></div>
    <div style="width: 90%;" class="line shine"></div>
  </span>
</a>