{{yield}}
<!-- Starts : Application Complete Modal -->
<div class="new-modal-overlay modal fade" id="applicationPop" tabindex="-1" role="dialog" aria-labelledby="applicationPop" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button id="applicationPopCloseButton" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-header">
        <img class="logo logo-dark" alt="logo" src="{{logoDark}}">
      </div>
      {{#if (eq job.type.name 'undefined')}}
        <div class="modal-body">
          <h4>Welcome to <b>Jobbio</b>!</h4>
          <h4>We have <b>1000's</b> of jobs <br>to search across all industries.</h4>
        </div>
        <div class="modal-footer">
          {{#link-to 'search.results' id='applicationPopSearch' class='btn btn--lg btn--primary type--uppercase'}}
            <span class="btn__text">View Other Jobs</span>
          {{/link-to}}
        </div>
      {{else}}
        <div class="modal-body">
          <h4>Welcome to <b>Jobbio</b>!</h4>
          <h4>We have <b>1000's</b> of other <span style="color:#ff4f4f">{{job.type.name}}</span> jobs.</h4>
        </div>
        <div class="modal-footer">
          {{#link-to 'search.results' (query-params type=job.type.name) id='applicationPopSearch' class='btn btn--lg btn--primary type--uppercase'}}
            <span class="btn__text">View Other Jobs</span>
          {{/link-to}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
<!-- End : Application Complete Modal -->
