{{yield}}
<div class="row boxed boxed--border">
  <div class="logo img-rounded shine" style="border: none;"></div>
  <div class="col-11">
    <div class="line shine"></div>
    <div class="line shine" style="width: 70%;"></div>
    <div class="line shine" style="width: 50%;"></div>
  </div>
</div>
<div class="row boxed boxed--border">
  <div class="logo img-rounded shine" style="border: none;"></div>
  <div class="col-11">
    <div class="line shine" style="width: 70%;"></div>
    <div class="line shine"></div>
    <div class="line shine" style="width: 50%;"></div>
    <div class="line shine" style="width: 30%;"></div>
  </div>
</div>
<div class="row boxed boxed--border">
  <div class="logo img-rounded shine" style="border: none;"></div>
  <div class="col-11">
    <div class="line shine"></div>
    <div class="line shine" style="width: 50%;"></div>
    <div class="line shine" style="width: 30%;"></div>
  </div>
</div>