{{yield}}
<div class="search-job-detail-container">
  <div class="search-job-detail-logo">
    <div class="logo-wrapper">
      <div class="logo img-rounded shine" style="border: none;"></div>
    </div>
  </div>
  <section data-overlay="8" class="imagebg job-banner" style="padding: 60px 0px 30px;">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div style="width: 70%;height: 40px;display: inline-block;" class="line shine"></div>
          <div style="width: 30%;height: 20px;display: inline-block;" class="line shine"></div>
          <div style="width: 20%;height: 20px;display: inline-block;margin-left: 30px;" class="line shine"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="col-md-6 middlecol">
    <div class="section">
      <div class="job-cards">
        <div style="margin-top: 0;" class="row boxed boxed--border post post-text">
          <div style="width: 40%;height: 25px;" class="line shine"></div>
          <div style="width: 90%;margin-top: 30px;" class="line shine"></div>
          <div style="width: 98%;" class="line shine"></div>
          <div style="width: 98%;" class="line shine"></div>
          <div style="width: 97%;" class="line shine"></div>
          <div style="width: 98%;" class="line shine"></div>
          <div style="width: 98%;" class="line shine"></div>
          <div style="width: 90%;" class="line shine"></div>
          <div style="width: 68%;" class="line shine"></div>

          <div style="width: 60%;margin-top: 30px;height: 25px;" class="line shine"></div>
          <div style="width: 95%;margin-top: 30px;" class="line shine"></div>
          <div style="width: 99%;" class="line shine"></div>
          <div style="width: 99%;" class="line shine"></div>
          <div style="width: 96%;" class="line shine"></div>
          <div style="width: 99%;" class="line shine"></div>
          <div style="width: 95%;" class="line shine"></div>
          <div style="width: 90%;" class="line shine"></div>
          <div style="width: 68%;" class="line shine"></div>
        </div>
      </div>
    </div>
  </div>
</div>