{{yield}}
<!-- Starts : Search Application submission Modal -->
<div class="new-modal-overlay modal fade" id="searchApplicationSubmission" tabindex="-1" role="dialog"
  aria-labelledby="searchApplicationSubmission" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button id="searchApplicationSubmissionClose_xButton" type="button" class="redirect-job-page close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <div class="modal-header">
                <i class="icon icon--lg icon-Balloon"></i>
            </div>
            <div class="modal-body">
                <p class="lead">Now that you have completed your Jobbio Bio you can apply to any job on Jobbio simply by clicking apply. It’s that easy.</p>
                <p class="lead">Go ahead and search the 1,000s of jobs waiting for you.</p>
            </div>
            <div class="modal-footer">
                <a id="searchApplicationSubmissionCloseButton" data-dismiss="modal" class="btn btn--sm btn--primary type--uppercase">
                    <span class="btn__text">Continue Job Search</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End : Search Application submission Modal -->