{{yield}}
<div class="row">
  <div class="col-md-4 common-card">
    <article class="feature feature-1 cards-min-height">
      <div class="line shine" style="height: 197px;"></div>
      <div class="feature__body boxed boxed--border">
        <div style="width: 50%;height: 20px;" class="line shine"></div>
        <div style="width: 20%;margin-top: 15px;" class="line shine"></div>
        <div style="width: 30%;margin-top: 15px;" class="line shine"></div>
      </div>
    </article>
  </div>
  <div class="col-md-4 common-card">
    <article class="feature feature-1 cards-min-height">
      <div class="line shine" style="height: 197px;"></div>
      <div class="feature__body boxed boxed--border">
        <div style="width: 50%;height: 20px;" class="line shine"></div>
        <div style="width: 20%;margin-top: 15px;" class="line shine"></div>
        <div style="width: 30%;margin-top: 15px;" class="line shine"></div>
      </div>
    </article>
  </div>
  <div class="col-md-4 common-card">
    <article class="feature feature-1 cards-min-height">
      <div class="line shine" style="height: 197px;"></div>
      <div class="feature__body boxed boxed--border">
        <div style="width: 50%;height: 20px;" class="line shine"></div>
        <div style="width: 20%;margin-top: 15px;" class="line shine"></div>
        <div style="width: 30%;margin-top: 15px;" class="line shine"></div>
      </div>
    </article>
  </div>
</div>