{{yield}}
<div class="job-list-item">
  <a class="row boxed boxed--border">
    <div class="logo img-rounded shine" style="border: none;"></div>
    <div class="details">
      <div style="width: 70%;height: 20px;margin-top: 5px;" class="line shine"></div>
      <div style="height: 15px;width: 90%;" class="line shine"></div>
    </div>
  </a>
</div>
<div class="job-list-item">
  <a class="row boxed boxed--border">
    <div class="logo img-rounded shine" style="border: none;"></div>
    <div class="details">
      <div style="width: 70%;height: 20px;margin-top: 5px;" class="line shine"></div>
      <div style="height: 15px;width: 90%;" class="line shine"></div>
    </div>
  </a>
</div>