{{yield}}
<!-- Starts : Forgot Password Modal -->
<div class="new-modal-overlay modal fade" id="forgotAlert" tabindex="-1" role="dialog" aria-labelledby="forgotAlert" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button id="forgotPasswordCloseButton" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-header">
        <h3>Forgot your password</h3>
      </div>
      <div class="modal-body">
        <p class="lead">If you have an account with this email, you'll receive instructions on how to reset your password shortly.</p>
      </div>
      <div class="modal-footer">
        <a id="forgotPasswordCloseCTA" data-dismiss="modal" class="btn btn--sm type--uppercase">
          <span class="btn__text">Close</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End : Forgot Password Modal -->
