{{yield}}
<!-- Starts : Reset Password Decline Modal -->
<div class="new-modal-overlay modal fade" id="declineAlert" tabindex="-1" role="dialog" aria-labelledby="declineAlert" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button id="declinePasswordCloseButton" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-header">
        <h3>Reset your password</h3>
      </div>
      <div class="modal-body">
        <p class="lead">Your password must contain a minimum of 6 letters <br> with at least 1 letter and 1 number.</p>
      </div>
      <div class="modal-footer">
        <a id="declinePasswordCloseCTA" data-dismiss="modal" class="btn btn--sm type--uppercase">
          <span class="btn__text">Close</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End : Reset Password Decline Modal -->
