{{yield}}
<!-- Starts : Reset Password Modal -->
<div class="new-modal-overlay modal fade" id="resetAlert" tabindex="-1" role="dialog" aria-labelledby="resetAlert" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <button id="resetPasswordCloseButton" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="modal-header">
        <h3>Reset password</h3>
      </div>
      <div class="modal-body">
        <p class="lead">Your password has been reset, log in to proceed.</p>
      </div>
      <div class="modal-footer">
        <a id="resetPasswordCloseCTA" data-dismiss="modal" class="btn btn--sm type--uppercase">
          <span class="btn__text">Close</span>
        </a>
        <a id="resetPasswordLogIn" {{action 'logIn'}} class="btn btn--sm btn--primary type--uppercase">
          <span class="btn__text">Log In</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End : Reset Password Modal -->
