{{yield}} 
<section class="text-center" style="background-color: #222; padding-top: 7.4em">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8">
        <h1 style="color: #fff">Did You Know?</h1>
        <p class="lead" style="color: #fff">Key facts about the current talent landscape.</p>
      </div>
    </div>
  </div>
</section>
<section class="text-center" style="background-color: #222">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="feature">
          <div class="radial" data-value="78" data-size="208" data-bar-width="20" data-color="#4aa4a0"> <span class="h2 radial__label" style="color: #fff; font-weight: bold">78%</span> </div>
          <p style="font-size: 19px; color: #fff"> of candidates look at an employer's reputation before applying </p>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="feature">
          <div class="radial" data-value="90" data-size="208" data-bar-width="20" data-color="#eb424f"> <span class="h2 radial__label" style="color: #fff; font-weight: bold">90%</span> </div>
          <p style="font-size: 19px; color: #fff"> of people are applying to the wrong companies and jobs </p>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div class="feature">
          <div class="radial" data-value="70" data-size="208" data-bar-width="20" data-color="#3f1ca5"> <span class="h2 radial__label" style="color: #fff; font-weight: bold">70%</span> </div>
          <p style="font-size: 19px; color: #fff"> of the global workforce is passive and require attention </p>
        </div>
      </div>
    </div>
  </div>
</section>
