<div class="dropdown__container">
  <div class="container">
    <div class="row">
      <div class="dropdown__content col-md-3">
        <ul class="menu-vertical">
          <li>{{#link-to 'pricing' id="companyHeadPricing"}}Pricing{{/link-to}}</li>
          <li>{{#link-to 'employer-brand' id="companyHeadEmployerBranding"}}Employer Branding{{/link-to}}</li>
          <li>{{#link-to 'amplify' id="companyHeadTalentMarketing"}}Talent Marketing{{/link-to}}</li>
          <li>{{#link-to 'talent' id="companyHeadTalentExperience"}}Talent Experience{{/link-to}}</li>
          <li>{{#link-to 'hire' id="companyHeadApplicantManagement"}}Applicant Management{{/link-to}}</li>
          <li>{{#link-to 'get-a-demo' id="companyHeadFreeCallBack"}}Free Call Back{{/link-to}}</li>
        </ul>
      </div>
      <!--end dropdown content-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</div>
{{yield}}
