<footer class="space--sm footer-2 bg--primary">
  <div class="container">
    <div class="row">
      <div class="col-6 col-lg-3">
        <h6 class="type--uppercase">TALENT</h6>
        <ul class="list--hover">
          <li>{{#link-to 'how-it-works-talent' id="frontFooterTalentHowItWorks"}}How It Works{{/link-to}}</li>
          <li>{{#link-to 'search.results' id="frontFooterTalentBrowseJobs"}}Browse Jobs{{/link-to}}</li>
          <li>{{#link-to 'search.results' id="frontFooterTalentBrowseChannels"}}Browse Channels{{/link-to}}</li>
          <li><a id="frontFooterTalentCarrerAdvice" href="https://blog.jobbio.com/">Career Advice</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-3">
        <h6 class="type--uppercase">COMPANIES</h6>
        <ul class="list--hover">
          <li>{{#link-to 'how-it-works-company' id="frontFooterCompaniesHowItWorks"}}How It Works{{/link-to}}</li>
          <li>{{#link-to 'employer-brand' id="frontFooterCompaniesEmployerBranding"}}Employer Branding{{/link-to}}</li>
          <li>{{#link-to 'amplify' id="frontFooterCompaniesTalentMarketing"}}Talent Marketing{{/link-to}}</li>
          <li>{{#link-to 'hire' id="frontFooterCompaniesApplicantManagement"}}Applicant Management{{/link-to}}</li>
          <li>{{#link-to 'talent' id="frontFooterCompaniesTalentExperience"}}Talent Experience{{/link-to}}</li>
          <li>{{#link-to 'pricing' id="frontFooterCompaniesFlexiblePricing"}}Flexible Pricing{{/link-to}}</li>
          <li>{{#link-to 'get-a-demo' id="frontFooterCompaniesRequestADemo"}}Request A Demo{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-6 col-lg-3">
        <h6 class="type--uppercase">PARTNERSHIPS</h6>
        <ul class="list--hover">
          <li>{{#link-to 'partnerships.partnerships-home' id="frontFooterPartnerships"}}Partnerships{{/link-to}}</li>
          <li>{{#link-to 'partnerships.community' id="frontFooterPartnershipsCommunity"}}Community{{/link-to}}</li>
          <li>{{#link-to 'partnerships.conference' id="frontFooterPartnershipsConference"}}Conference{{/link-to}}</li>
          <li>{{#link-to 'partnerships.media' id="frontFooterPartnershipsMedia"}}Media{{/link-to}}</li>
          <li>{{#link-to 'partnerships.publisher' id="frontFooterPartnershipsPublisher"}}Publisher{{/link-to}}</li>
          <li>{{#link-to 'partnerships.talent' id="frontFooterPartnershipsTalent"}}Talent{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-6 col-lg-3">
        <h6 class="type--uppercase">GENERAL</h6>
        <ul class="list--hover">
          <li><a id="frontFooterGeneralBlog" href="http://blog.jobbio.com">Blog</a></li>
          <li>{{#link-to 'channel' 'jobbio' id="frontFooterGeneralCareers"}}Careers @ Jobbio{{/link-to}}</li>
          <li><a id="frontFooterGeneralSupport" href="https://support.jobbio.com/hc/en-us">Support</a></li>
          <li></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 text-left-xs">
        <ul class="social-list list-inline list--hover">
          <li><span class="type--fine-print">© <span class="update-year">2020</span>&nbsp;Jobbio</span></li>
          <li>{{#link-to 'cookie-policy' id="frontFooterLegalCookiePolicy"}}Cookie Policy{{/link-to}}</li>
          <li>{{#link-to 'use-policy' id="frontFooterLegalUsePolicy"}}Use Policy{{/link-to}}</li>
          <li>{{#link-to 'privacy-policy' id="frontFooterLegalPrivacyPolicy"}}Privacy Policy{{/link-to}}</li>
          <li>{{#link-to 'terms' id="frontFooterLegalTCs"}}Terms &amp; Conditions{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-md-4 text-left text-md-right">
        <ul class="social-list list-inline list--hover">
          <li><a id="frontFooterSocialFacebook"
              href="https://www.facebook.com/JobbioIreland/?brand_redir=433249880025365"><i
                class="socicon socicon-facebook icon icon--xs"></i></a></li>
          <li><a id="frontFooterSocialTwitter" href="https://twitter.com/Jobbio"><i
                class="socicon socicon-twitter icon icon--xs"></i></a></li>
          <li><a id="frontFooterSocialLinkedin" href="https://www.linkedin.com/company/jobbio/"><i
                class="socicon socicon-linkedin icon icon--xs"></i></a></li>
          <li><a id="frontFooterSocialInstagram" href="https://www.instagram.com/jobbio/?hl=en"><i
                class="socicon socicon-instagram icon icon--xs"></i></a></li>
          <li><a id="frontFooterSocialJobbio" href="https://www.jobbio.com/jobbio"><img
                src="/assets/Jobbio_J_Logo_White.svg" class="jobbio-footer-icon" alt="jobbio"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{{yield}}