<footer class="space--sm footer-3 bg--primary" style="padding-top:5px;padding-bottom:30px">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 text-left-xs">
        <ul class="social-list list-inline list--hover">
          <li><span class="type--fine-print">© <span class="update-year">2020</span>&nbsp;Jobbio</span></li>
          <li>{{#link-to 'cookie-policy' id="frontFooterLegalCookiePolicy"}}Cookie Policy{{/link-to}}</li>
          <li>{{#link-to 'use-policy' id="frontFooterLegalUsePolicy"}}Use Policy{{/link-to}}</li>
          <li>{{#link-to 'privacy-policy' id="frontFooterLegalPrivacyPolicy"}}Privacy Policy{{/link-to}}</li>
          <li>{{#link-to 'terms' id="frontFooterLegalTCs"}}Terms &amp; Conditions{{/link-to}}</li>
        </ul>
      </div>
      <div class="col-sm-4 text-right text-left-xs">
        <ul class="social-list list-inline list--hover">
          <li><a id="frontFooterSocialFacebook" href="https://www.facebook.com/JobbioIreland/?brand_redir=433249880025365"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
          <li><a id="frontFooterSocialTwitter" href="https://twitter.com/Jobbio"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
          <li><a id="frontFooterSocialLinkedin" href="https://www.linkedin.com/company/jobbio/"><i class="socicon socicon-linkedin icon icon--xs"></i></a></li>
          <li><a id="frontFooterSocialInstagram" href="https://www.instagram.com/jobbio/?hl=en"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
          <li><a id="frontFooterSocialJobbio" href="https://www.jobbio.com/jobbio"><img src="/assets/Jobbio_J_Logo_White.svg" class="jobbio-footer-icon" alt="jobbio"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{{yield}}
