<div class="dropdown__container">
  <div class="container">
    <div class="row">
      <div class="dropdown__content dropdown__content--lg col-md-6 col-sm-8">
        <div class="pos-absolute col-md-6 imagebg hidden-sm hidden-xs" data-overlay="6">
          <div class="background-image-holder" style="background: url('{{{talentPopupBackground}}}'); opacity: 1;">
            <img alt="background" src="{{{talentPopupBackground}}}" />
          </div>
          <div class="container pos-vertical-center">
            <div class="row">
              <div class="col-md-10 offset-lg-1">
                <h1 class="color--white" style="font-size:2.5em">Become A Partner</h1>
                <p style="line-height: 18px;" class="color--white">Unlock the value of your audience by adding a
                  revenue-generating jobs marketplace to your website.</p>
              </div>
              <div class="col-md-10 offset-lg-1" style="padding-top: 10px;">
                <a href="https://jobbio.com/partnerships/partnerships-home"
                  class="btn btn--sm type--uppercase btn--primary">
                  <span class="btn__text">BECOME A PARTNER</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 offset-lg-6" style="padding-left: 30px;">
          <h2 style="font-size:1.5em">Existing Partners</h2>
          <ul class="menu-vertical">
            <li><a href="https://jobs.venturebeat.com">VentureBeat</a></li>
            <li><a href="https://betakit.com/jobs/">Betakit</a></li>
            <li><a href="https://jobs.thesun.co.uk/">The Sun</a></li>
            <li><a href="https://evoke.ie/inspire-jobs/jobs-home">Evoke.ie</a></li>
            <li><a href="https://independentjobs.ie/">Independent Jobs</a></li>
            <li><a href="https://jobs.growthhackers.com/">GrowthHackers</a></li>
            <li><a href="https://jobs.sifted.eu/">Sifted</a></li>
            <li><a href="https://jobs.wired.co.uk/">WIRED Hired</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>