{{yield}}
<section class="text-center cta cta-4 space--xxs border--bottom imagebg" data-gradient-bg="#5a97ef,#fa6160,#8F48BD,#5a97ef">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="label label--inline">HIRING?</span>
        <span style="padding-right: 12px">Put your job in front of 2,000,000 talent</span>
        <a id="postJobBannerCTA" class="btn btn--sm type--uppercase" href="/pricing"><span class="btn__text">Post A Free Job</span></a>
      </div>
    </div>
  </div>
</section>
