{{yield}}
<div class="col-md-6 col-sm-6 col-12">
  <div id="replace_me-v2_player_{{num}}"></div>
  <div class="switchable__text">
    <h2>Question {{num}}</h2>
    <h4 style="color:#ff4f4f;">Please watch the video with the question and record your response.</h4>
  </div>
</div>
