{{yield}}
<div class="job-list-item">
  <a class="row boxed boxed--border">
    <div class="logo img-rounded shine" style="border: none;"></div>
    <span class="col-12">
      <div style="width: 80%;height: 22px;" class="line shine"></div>
      <div style="width: 20%;height: 14px;display: inline-block;" class="line shine"></div>
      <div style="width: 30%;height: 14px;display: inline-block;margin-left: 30px;" class="line shine"></div>
    </span>
  </a>
</div>
<div class="job-list-item">
  <a class="row boxed boxed--border">
    <div class="logo img-rounded shine" style="border: none;"></div>
    <span class="col-12">
      <div style="width: 80%;height: 22px;" class="line shine"></div>
      <div style="width: 20%;height: 14px;display: inline-block;" class="line shine"></div>
      <div style="width: 30%;height: 14px;display: inline-block;margin-left: 30px;" class="line shine"></div>
    </span>
  </a>
</div>