{{outlet}}
<section class="height-110 imagebg parallax switchable bg--secondary">
  <div class=" background-image-holder" style="background-color:#ebebeb; margin-bottom: 100px; height: 1000px;"> </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-5 ">
        <img alt="Image" style="max-width: 80%;" src="{{model}}/Jobbio_Logotype_Red_400px.png">
        <div>
          <p class="lead" style="color:#333; margin-top:10px;">
            Kickstart your 2019 by hiring the best talent.
          </p>
          <p style="color:#333">
            We’re giving away an employer branding package worth €15,000 including a consultation with our team, as well as three videos, an office photography session and much more!
          </p>
          <p style="color:#333">
            To be in with a chance to win, simply tell us why your company needs the employer branding package (we only need a line or two).
          </p>
        </div>
        <div style="margin-top: 25px;">
          <ul class="accordion accordion-1 accordion--oneopen">
            <li>
              <div class="accordion__title" style="background: #ff4f4f; opacity: .9;">
                <span class="h5">Terms and Conditions</span>
              </div>
              <div class="accordion__content">
                <p style="color:#333;">This competition is open to companies who are based in the UK or Ireland only.</p>
                <p style="color:#333;">Only 1 entry per company is permitted.</p>
                <p style="color:#333;">Closing date for applications is Friday 25th January 2019. Winner will be announced on Friday 1st February 2019.</p>
                <p style="color:#333;">Judges will decide the winner based on quality of answer to the question ‘In under 200 words, please tell us why your company needs employer branding‘.</p>
                <p style="color:#333;">Judge’s decision is final.</p><br>
                <p style="color:#333;">Prize is not transferable.</p>
                <p style="color:#333;">Prize winner must redeem prize within 1 year of being selected. The prize must be redeemed in either Ireland or UK, and used in full in 1 day.</p>
                <p style="color:#333;">By opting in to the competition you are agreeing to have Jobbio contact you regarding your employer branding.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-6" style="height: 1000px;">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdufv_9i_s4BOTDZwNLdTrv70d-jBK7K6QisA1GyrGkeyamiw/viewform?embedded=true" width="640" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
    </div>
  </div>
  <!--end of row-->
  <!--end of container-->
</section>
<section class="switchable ">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="">
          <h1>The <span style="color:#ff4f4f;"> €15,000 Prize</span> includes</h1>
          <hr class="short">
          <ul style="list-style-type: disc;">
            <li><h5>1 x days filming in your office</h5></li>
            <li><h5>3 x videos</h5></li>
            <li><h5>1 x photography session</h5></li>
            <li><h5>1 x Jobbio meets blog post</h5></li>
            <li><h5>Any queries? Contact the team at <a id="employerBrandingCompetitionEmail" href="mailto:employerbranding@jobbio.com">employerbranding@jobbio.com</a></h5></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-5">
        <img alt="Image" class="border--round box-shadow-wide" src="{{model}}/Employer-Branding.jpg">
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<section class="cover switchable ">
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-12 text-center">
        <a id="employerBrandingCompetitionEnterCTA" class="btn btn--sm type--uppercase btn--primary" href="javascript: window.$('html, body').animate({scrollTop:0}, 'slow');">
          <span class="btn__text">Enter the competition</span>
        </a>
      </div>
    </div>
  </div>
</section>
{{common/front-footer}}
