{{outlet}}
<a id="job-title" class="in-page-link"></a>
<section class="imagebg text-center" data-overlay="8">
  <div class="background-image-holder">
    <img alt="background" src="{{model}}/landing-1.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Company Terms and Conditions for Services</h1>
      </div>
    </div>
  </div>
</section>
<a id="jobs-left-middle-right" class="in-page-link"></a>
<section class="maincolumns channel-company sticky-sidebars">
  <div class="container">
    <div class="col-md-10 middlecol  offset-lg-1">
      <div class="section">
        <div class="job-cards">
          <!-- Starts: row -->
          <div id="important-info">
            <div class="row boxed boxed--border post post-text">
              <div class="row">
                <div class="col-12">
                  <h4 class="lead font-bold text-center">Company Terms and Conditions for Services</h4>
                  <p>By registering on our Site and using the Services you ("you" or the "Company") agree to be bound by
                    these terms and conditions for services ("Conditions"), and all policies referred to in these
                    Conditions, each as may be
                    modified by Jobbio from time to time.</p>
                  <p>These Conditions are in addition to the Website Terms and Conditions, Website Privacy Policy,
                    Website Acceptable Use Policy and Website Cookie Policy, all as displayed on the public part of our
                    Site, ("General Terms") with which
                    also apply to the provision of the Services.</p>
                  <ul>
                    <li>Application of the Conditions</li>
                  </ul>
                  <ol>
                    <ol>
                      <ol>
                        <li>By using the Services, you represent and warrant that you have read, understand, have the
                          legal capacity to, and hereby agree to be legally bound by these Conditions.</li>
                        <li>Jobbio is permitted to make changes to these Conditions and any other policies or guidelines
                          by notifying you via the contact details you have provided on the Site and/or by publishing
                          the changes at the Site. Continuing
                          to use the Services indicates that you fully accept the changes to the Conditions. Such
                          modifications shall become effective immediately upon their being posted on the Site.
                          Therefore, Jobbio encourages you to check the
                          date of our Conditions and General Terms whenever you visit this Site to check if they have
                          been updated.</li>
                        <li>In the event that Jobbio grants a Company the opportunity to trial the Services at no cost
                          before subscribing, then Section 7 only of these Conditions will not apply during such trial.
                        </li>
                      </ol>
                    </ol>
                  </ol>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Definitions</li>
                  </ul>
                  <p>&nbsp;</p>
                  <ol>
                    <ol>
                      <li>In these Conditions the following words and phrases shall have the following meanings unless
                        the context requires otherwise:-</li>
                    </ol>
                  </ol>
                  <p>Company</p>
                  <p>any person or entity using and purchasing the Services;</p>
                  <p>Company Bio</p>
                  <p>the biography that a Company creates on the Site about its own company, organisation or business in
                    order to attract Talent;</p>
                  <p>Company Materials</p>
                  <p>the materials owned by the Company including information, design work, artwork and logos;</p>
                  <p>Conditions</p>
                  <p>these terms and conditions for services;</p>
                  <p>Fees</p>
                  <p>the fees and charges payable by the Company to Jobbio as specified on the Site from time to time;
                  </p>
                  <p>Jobbio</p>
                  <p>Avar Communications Limited trading as Jobbio a company incorporated in Ireland with company number
                    495027 whose address is at 46 Upper Mount Street, Dublin 2;</p>
                  <p>Services</p>
                  <p>the hiring and careers services that Jobbio provides to a Company as listed on the Site from time
                    to time;</p>
                  <p>Site</p>
                  <p>the Jobbio hosted website which is a dedicated recruitment portal hosted on behalf of the Company;
                    and</p>
                  <p>Talent</p>
                  <p>a Talent who registers on the Jobbio site, through the Jobbio site itself or through a client site;
                  </p>
                  <p>Talent CV / Bio</p>
                  <p>the curriculum vitae, biography page or brief outline details of a Talent's education, training,
                    skills and employment experience which is provided to Jobbio by a Talent for distribution to
                    Companies with a view to securing
                    employment.</p>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Services Generally</li>
                  </ul>
                  <p>&nbsp;</p>
                  <ol>
                    <ol>
                      <ol>
                        <li class="terms">The Company is entirely responsible for creating its own Company Bio and
                          uploading any Company Materials it requires on its own Company Bio.</li>
                        <li>A Company can delete its Company Bio at any stage and is entirely responsible for updating
                          and ensuring the accuracy of information that it uploads to its own Company Bio or for any
                          advertisement or opportunity it posts
                          to the Site. Jobbio does not accept liability for any consequences, howsoever arising, due to
                          error or delay in provision of the Services and has the right at its sole discretion to
                          decline to publish or omit, suspend or
                          change the position of any advertisement, opportunity or Company Bio published on the Site.
                        </li>
                        <li>An advertisement, opportunity or otherwise which indicates, or can reasonably be understood
                          as indicating, an intention to discriminate on grounds of sex, race or age will not be
                          accepted unless it is exempted from the
                          requirements of the Employment Equality Act or the Equal Status Act.</li>
                        <li>Jobbio shall be entitled at any time without notifying the Company to make changes to the
                          Services, which are necessary to comply with any applicable security or other statutory
                          requirements and shall determine the manner
                          in which the Services are provided.</li>
                      </ol>
                    </ol>
                  </ol>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Obligations of Jobbio</li>
                  </ul>
                  <p>&nbsp;</p>
                  <ol>
                    <ol>
                      <ol>
                        <li>Jobbio will use its reasonable endeavours to enable Talent to view the Company's
                          opportunities on the Site and to provide the Services to the Company. However, the Company
                          accepts that Jobbio cannot guarantee the
                          functionality of the Site 100% of the time.</li>
                        <li>In order to maximise the opportunities for the Company Jobbio shall be entitled, but not
                          obliged, to market such opportunities on third party distribution and publishing websites,
                          such as (purely for example purposes)
                          LinkedIn, Glassdoor and Indeed.</li>
                      </ol>
                    </ol>
                  </ol>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Obligations of the Company</li>
                  </ul>
                  <p>&nbsp;</p>
                  <ol>
                    <ol>
                      <ol>
                        <li>The Company hereby undertakes and warrants to Jobbio that:</li>
                        <ol>
                          <li>it will use all reasonable precautions against access to the Site (or any website that is,
                            or may become linked to any website) by any unauthorised persons, including but not limited
                            to, the use of user names and
                            passwords and the securing of information relating to communications between the Company's
                            hardware and the rest of the Site;</li>
                          <li>it will comply with the provisions of the Data Protection Acts 1988 and 2003 (the
                            &ldquo;Acts&rdquo;) and from 25 May 2018 the General Data Protection Regulation ("GDPR")and
                            ePrivacy Regulations 2011 (and any related or
                            updated legislation applicable) or relevant legislation with regard to any Talent
                            information received by it and in particular to keep such information confidential;</li>
                          <li>to the extent that Jobbio is a processor on behalf of the Company, within the meaning of
                            the GDPR, it will process any personal data received from the Company in accordance with
                            Annex 1;</li>
                          <li>in relation to any opportunity or advertisement the Company is a principal notwithstanding
                            that the Company may be acting directly or indirectly for a third party;</li>
                          <li>the publication of the opportunity or advertisement through the Site by Jobbio as
                            originally submitted or as amended will not breach any agreement or infringe or violate any
                            right of any person or render Jobbio liable
                            to any proceedings whatsoever and the Company indemnifies Jobbio against all costs, claims,
                            damages, loss, expenses and liabilities suffered or incurred by Jobbio as a result of this
                            undertaking and warranty being
                            incorrect;</li>
                          <li>any information supplied by the Company in connection with the provision of the Services
                            is accurate, complete and true;</li>
                          <li>in respect of any advertisement which contains the name or pictorial representation
                            (photographic or otherwise) of any living person and/or any part of any living person and/or
                            any copy by which any living person is or
                            can be identified the Company has obtained the authority of such living person to make use
                            of such name, representation and/or copy to permit Jobbio to perform its obligations and
                            exercise its rights set out in these
                            Conditions;</li>
                          <li>each advertisement and all content posted to the Site or use of the Site by the Company is
                            legal, decent, honest and truthful and complies with all applicable laws, rules, regulations
                            and codes relating to advertising
                            as may be appropriate.</li>
                        </ol>
                        <li>The Company acknowledges that it does not own or have any interested in any proprietary
                          rights in respect of the Site, or any Talent Bio or CV or other information submitted by any
                          Talent.</li>
                        <li>The Company shall indemnify Jobbio against any claim made by a third party alleging breach
                          of intellectual property rights or other misuse in respect of material or data supplied to the
                          Company.</li>
                        <li>The Company shall obtain from the Talent, as much information about the Talent's
                          qualifications and experience, as is necessary for determining whether the Talent is suitable
                          for employment, and shall ascertain that the
                          Talent has such qualifications as are required by law.</li>
                        <li>The Company shall ensure that the Talent is fully aware of any conditions imposed by law,
                          which must be satisfied by the Talent and that any employment resulting therefrom shall be
                          legal.</li>
                        <li>The Company shall:</li>
                        <ol>
                          <li>not operate as or provide the services of a recruitment agent, agency or consultancy;</li>
                          <li>use all Talent CVs supplied for the sole purpose of attempting to provide or locate
                            suitable employment on behalf of Talent;</li>
                          <li>keep confidential the Talent CVs and all other information supplied by the Talent to the
                            Company or its employees or agents and shall only use such information for such agreed
                            purpose if attempting to seek or provide
                            employment opportunities for Talent with their express consent in respect of the Talent CVs;
                          </li>
                          <li>obtain the express consent of a Talent prior to submitting his or her Talent CV or any
                            details contained on his or her Bio to any person; and</li>
                          <li>not submit, copy, supply, re-sell, distribute or make available in any way any Talent CVs
                            or other information received from Jobbio to any third party.</li>
                        </ol>
                        <li>The Company confirms that Jobbio can publicise its use of the Site in campaigns and
                          proposals to prospective customers and in advertising material generally.</li>
                      </ol>
                    </ol>
                  </ol>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Content and Ownership</li>
                  </ul>
                  <p>&nbsp;</p>
                  <ol>
                    <ol>
                      <ol>
                        <li>Jobbio may create content (such as by way of example only, text, images, video "Content")
                          from time to time for use by the Company in the Company Bio. All intellectual property rights
                          of whatever nature in such Content
                          shall belong to Jobbio.</li>
                        <li>In addition to its use in the Company Bio, Jobbio may use Content on the Site, in its own
                          blog or generally for the marketing and promotion of the Company's business.</li>
                      </ol>
                    </ol>
                  </ol>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Fees, Automatic Renewal and Payment</li>
                  </ul>
                  <p>&nbsp;</p>
                  <ol>
                    <ol>
                      <ol>
                        <li>The Fees payable shall be those prices set out on the Site or communicated to the Company
                          directly by email from time to time. The Fees can be paid annually in advance or by monthly
                          direct debit using your selected
                          payment method.</li>
                        <li>If you provide your credit, debit, PayPal or Direct Debit details to Jobbio, you hereby
                          authorise Jobbio to bill such credit, debit, PayPal or Direct Debit account for the Fees.</li>
                        <li>We will communicate with you regularly to give you details about the Services. At least 14
                          days prior to the anniversary of your subscription, we will send a notice to the email address
                          identified in your account profile
                          and let you know the renewal Fees and give you an opportunity to review your use of the
                          Services.</li>
                        <li>If you do not want to renew your subscription you must contact either your account manager
                          or email us at subscriptions@jobbio.com before the renewal date. If you do not email us we
                          will renew your subscription for a
                          further year using the payment method set out in your account profile.</li>
                        <li>Jobbio will provide invoices to each Company where a Company chooses to pay by invoice.
                          Liability for payment arises from provision of the Services. Further, all items on the invoice
                          are deemed to be payable and any
                          errors or omissions must be communicated to Jobbio in time to be rectified before payment
                          becomes due.</li>
                        <li>If the Company fails to make any payment by the due time then all moneys owing by the
                          Company to Jobbio shall immediately become due and payable and the provisions of clause 7.5
                          shall forthwith apply to such moneys. Late
                          payment of fees may cause your account to be frozen temporarily until payments are rectified.
                        </li>
                        <li>Jobbio shall be entitled to charge and if it does, the Company agrees to pay to Jobbio in
                          respect of each item of Services for which payment is not made by the due time, interest on
                          the amount overdue at the rate of 4%
                          per annum above Euribor on the due date for payment, and accruing from day to day (including
                          the date on which payment was due).</li>
                        <li>All sums due in respect of the Fees are exclusive of any value added tax or other applicable
                          sales tax, for which the Company shall be additionally liable.</li>
                        <li>All Fees must be paid in advance of using the Jobbio Platform or Services.</li>
                      </ol>
                    </ol>
                  </ol>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Liability</li>
                  </ul>
                  <p>&nbsp;</p>
                  <ol>
                    <ol>
                      <ol>
                        <li>Jobbio is merely a conduit to facilitate the introduction of Companies to Talent. Jobbio
                          does not verify or guarantee any Talent's details whether forwarded to the Company via Jobbio
                          or otherwise. Jobbio accepts no
                          responsibility as to the suitability of Talent who respond to advertisements or Services.</li>
                        <li>The Company shall satisfy itself as to the suitability of any Talent and shall take up any
                          reference provided by the Talent before engaging any such Talent.</li>
                        <li>The Company shall be responsible for obtaining work, or any other permits, for the
                          arrangements of medical examinations and/or investigations into medical history of any Talent,
                          and shall satisfy itself of any medical or
                          other requirements or qualifications required by law.</li>
                        <li>Jobbio does not accept liability of any description, including liability for negligence
                          (except for personal injury or death), or any damages or losses (including, but without
                          limitation to indirect or consequential loss,
                          or loss of business, revenue, profits, contracts, anticipated loss of savings, loss of
                          goodwill, use or opportunity, wasted management or office time) howsoever resulting from the
                          Company's use of (or inability to use) this
                          Site, or resulting from the use of this Site, any websites linked to it or any materials
                          posted on it. This does not affect Jobbio&rsquo;s liability for any matter which cannot be
                          excluded or limited under applicable law.</li>
                        <li>Jobbio makes no warranty that this Site (or any website that is, or may become linked to
                          this website) is free from computer viruses, "cookies", or any other malicious or impairing
                          computer programs and/or that the Site
                          shall operate uninterrupted and error-free.</li>
                        <li>Jobbio does not accept liability, of any description, however arising, for any loss or
                          damage caused to the Company, or any other third party, arising from any virus or other
                          impairing computer program contained in any
                          Talent CV or information submitted by any Talent.</li>
                        <li>Jobbio does not accept liability for any loss of copy, artwork, photographs, data or other
                          materials that the Company supplies to Jobbio and the Company shall be responsible for
                          retaining in its possession sufficient
                          quality and quantity of such materials for whatsoever purposes it may require.</li>
                        <li>The material displayed on our Site is provided without any guarantees, conditions or
                          warranties as to its accuracy. To the extent permitted by law, Jobbio, other members of our
                          group of companies and third parties
                          connected to us hereby expressly exclude all conditions, warranties and other terms which
                          might otherwise be implied by statute, common law or the law of equity.</li>
                      </ol>
                    </ol>
                  </ol>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Indemnity</li>
                  </ul>
                  <p>&nbsp;</p>
                  <ol>
                    <ol>
                      <ol>
                        <li>You shall defend, indemnify and hold harmless Jobbio against claims, actions, proceedings,
                          losses, damages, expenses and costs (including without limitation court costs and reasonable
                          legal fees) arising out of or in
                          connection with your use (including that of any of your employees, agents or contractors) of
                          the Services (including without limitation any claim arising from any incomplete, inaccurate,
                          incorrect or otherwise defective
                          Talent Bio or CV).</li>
                      </ol>
                    </ol>
                  </ol>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Governing Law and Jurisdiction</li>
                  </ul>
                  <p>&nbsp;</p>
                  <ol>
                    <ol>
                      <ol>
                        <li>These Conditions shall be governed by, and construed in accordance with, the laws of Ireland
                          and each party irrevocably submits to the exclusive jurisdiction of the courts of Ireland.
                        </li>
                      </ol>
                    </ol>
                  </ol>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Miscellaneous</li>
                  </ul>
                  <p>&nbsp;</p>
                  <ol>
                    <ol>
                      <li>Clicking on the confirm, publish or agree button, or continued use of this Site, constitutes
                        an acceptance of these Conditions and the General Terms with Jobbio to the exclusion of any
                        other terms and conditions.</li>
                      <li>If any provision of these Conditions is held to be void or unenforceable in whole or in part,
                        these Conditions shall continue to be valid as to the other provisions and the remainder of the
                        affected provision. No waiver by
                        Jobbio shall be effective except in relation to the matter in respect of which it was
                        specifically given.</li>
                      <li>Jobbio may amend the terms of these Conditions at any time by amending this page. The Company
                        is expected to check this page from time to time to take notice of any changes Jobbio has made,
                        as they are binding.</li>
                    </ol>
                  </ol>
                  <p>&nbsp;</p>
                  <p>Effective [ ] May 2018</p>
                  <p></p>
                  <p>Annex 1</p>
                  <p>&nbsp;</p>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Definitions</li>
                  </ul>
                  <p>&nbsp;</p>
                  <table>
                    <tbody>
                      <tr>
                        <td>
                          <p>"Data Protection Legislation"</p>
                        </td>
                        <td>
                          <p>means:</p>
                          <ol>
                            <li>EU Directive 95/46/EC and the national implementing laws, regulations and secondary
                              legislation, as amended or updated from time to time, in the Company's Jurisdiction until
                              24 May 2018; and thereafter</li>
                            <li>the General Data Protection Regulation ((EU) 2016/679) ("GDPR") and any national
                              implementing laws, regulations and secondary legislation, as amended or updated from time
                              to time, in the relevant Party's jurisdiction;
                              and</li>
                            <li>the terms "Data Controller", "Data Processor", "Data Subject", "Personal Data" and
                              "processing" when used in the Terms and Conditions will have the meanings set out in the
                              Data Protection Legislation.</li>
                          </ol>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Data Protection</li>
                  </ul>
                  <p>&nbsp;</p>
                  <ol>
                    <ol>
                      <ol>
                        <li>Both parties will comply with all applicable requirements of the Data Protection
                          Legislation.</li>
                        <li>The Parties acknowledge that for the purposes of the Data Protection Legislation, the
                          Company is the Data Controller and Jobbio is the Data Processor.</li>
                        <li>Without prejudice to the generality of section 2.1, Jobbio will, in relation to any Personal
                          Data processed in connection with the performance by Jobbio of its obligations under the Terms
                          and Conditions:</li>
                        <ol>
                          <li>process that Personal Data for the purposes of providing its services, only in accordance
                            with the written instructions of the Company;</li>
                          <li>if Jobbio is required by the laws of any member state of the European Union or by the laws
                            of the European Union applicable to Jobbio ("Applicable Laws") to process such Personal Data
                            for other purposes, promptly notify
                            the Company of such other purposes before performing the processing required by the
                            Applicable Laws unless those Applicable Laws prohibit Jobbio from so notifying the Company;
                          </li>
                          <li>subject to section 2.3(b), not disclose any Personal Data to any third party without the
                            prior written consent of the Company;</li>
                          <li>ensure that it has in place appropriate technical and organisational measures, to protect
                            against unauthorised or unlawful processing of Personal Data and against accidental loss or
                            destruction of, or damage to,
                            Personal Data, appropriate to the harm that might result from the unauthorised or unlawful
                            processing or accidental loss, destruction or damage and the nature of the data to be
                            protected, having regard to the state of
                            technological development and the cost of implementing any measures (those measures may
                            include, where appropriate, pseudonymising and encrypting Personal Data, ensuring
                            confidentiality, integrity, availability and
                            resilience of its systems and services, ensuring that availability of and access to Personal
                            Data can be restored in a timely manner after an incident, and regularly assessing and
                            evaluating the effectiveness of the
                            technical and organisational measures adopted by it);</li>
                          <li>ensure that all personnel who have access to and/or process Personal Data are obliged to
                            keep the Personal Data confidential; and</li>
                          <li>not transfer any Personal Data outside of the European Economic Area unless the prior
                            written consent of the Company has been obtained and the following conditions are fulfilled:
                          </li>
                          <ol>
                            <li>the Company or Jobbio has provided appropriate safeguards in relation to the transfer;
                            </li>
                            <li>the Data Subject has enforceable rights and effective legal remedies;</li>
                            <li>Jobbio complies with its obligations under the Data Protection Legislation by providing
                              an adequate level of protection to any Personal Data that is transferred; and</li>
                            <li>Jobbio complies with reasonable instructions notified to it in advance by the Company
                              with respect to the processing of the Personal Data;</li>
                          </ol>
                          <li>assist the Company, at the Company's cost, in responding to any request from a Data
                            Subject and in ensuring the Company's compliance with its obligations under the Data
                            Protection Legislation with respect to security,
                            breach notifications, impact assessments and consultations with supervisory authorities or
                            regulators;</li>
                          <li>notify the Company without undue delay on becoming aware of a Personal Data breach;</li>
                          <li>at the written direction of the Company, delete or return Personal Data and copies thereof
                            to the Company on termination of the Terms and Conditions unless required by Applicable Laws
                            to store the Personal Data; and</li>
                          <li>maintain complete and accurate records and information to demonstrate its compliance with
                            this section 2 (including but not limited to contractual arrangements for the transfer of
                            Personal Data outside the EEA) and
                            allow for audits by the Company or the Company's designated auditor; and</li>
                          <li>comply with all reasonable requests of the Company resulting from any such audit described
                            in section 2.3(j).</li>
                        </ol>
                      </ol>
                    </ol>
                  </ol>
                  <p>&nbsp;</p>
                  <ul>
                    <li>Appropriate Safeguards</li>
                  </ul>
                  <p>&nbsp;</p>
                  <ol>
                    <ol>
                      <li>Jobbio will not appoint any third party processor of Personal Data under the Terms and
                        Conditions, without the Company's prior written consent.</li>
                      <li>Where the Company provides consent pursuant to section 3.1 Jobbio will enter into an agreement
                        with such third-party processor incorporating terms which are substantially similar to those set
                        out in section 2.3.</li>
                      <li>As between the Company and Jobbio, Jobbio shall remain fully liable for all acts or omissions
                        of any third-party processor appointed by it pursuant to this section 3.</li>
                    </ol>
                  </ol>
                  <p>&nbsp;</p>
                </div>
              </div>
            </div>
            <!-- End: row -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="maincolumns channel-company sticky-sidebars">
  <div class="container">
    <div class="col-md-10 middlecol  offset-lg-1">
      <div class="section">
        <div class="job-cards">
          <!-- Starts: row -->
          <div id="important-info-events">
            <div class="row boxed boxed--border post post-text">
              <div class="row">
                <div class="col-12">
                  <div class="col-12">
                    <h4 class="lead font-bold text-center">Terms & Conditions - <strong>Events:</strong></h4>
                    <p>
                      This document sets out the terms and conditions between Avar Communications Ltd (t/a Jobbio) and
                      you when you purchase a ticket from Jobbio. Jobbio reserves the right to change these terms and
                      conditions at any time.
                    </p>
                    <ol>
                      <li>
                        <strong> PURCHASING TICKETS </strong>
                        <ol>
                          <li>
                            Ticket sales are subject to availability.
                          </li>
                          <li>
                            Your application for a ticket is an offer to purchase and we may refuse your order at our
                            complete discretion. If we accept your order you will receive an acknowledgement [by email].
                          </li>
                        </ol>
                      </li>
                      <li>
                        <strong> PERSONAL DATA </strong>
                        <p>
                          You acknowledge that to enable Jobbio to complete your ticket purchase, Jobbio has to collect,
                          process and use your personal data.
                        </p>
                        <ol>
                          <li>
                            In addition, if you have consented to receive marketing or other communications from Jobbio,
                            your personal data may also be used for that purpose.
                          </li>
                          <li>
                            The mandatory information that Jobbio requires is:
                            <ul>
                              <br>
                              <li> <strong> Primary Billing Contact</strong> </li>
                              <li><strong>Primary Billing Address</strong> </li>
                              <li> <strong>Primary Contact </strong></li>
                              <li><strong> VAT Number</strong> </li>
                            </ul>
                          </li>
                        </ol>
                      </li>
                      <li>
                        Jobbio will only use your personal data for the purpose for which you have provided it and in
                        accordance with our data protection policy which you should read here: <a
                          href="https://jobbio.com/privacy-policy">https://jobbio.com/privacy-policy</a>.
                      </li>
                      <li> Some events will include sound recording and videography and you will be informed at the
                        point of entry. </li>
                      <li>
                        <strong> ADD-ONS</strong>
                        <ol>
                          <li>
                            All items (screens, cabling and other electronic equipment, rooms, furniture etc.) supplied
                            are on a rental basis and no exchange, transfer or refund of ordered items on-site will be
                            entertained.
                          </li>
                          <li>
                            Exhibitors must pay for any damages or losses caused to items supplied to them.
                          </li>
                          <li> Cancelled orders are not refundable. </li>
                        </ol>
                      </li>
                      <li>
                        <strong>REFUND POLICY </strong>
                        <ol>
                          <li>
                            All purchases of tickets for conferences and events are non-refundable in their entirety.
                          </li>
                          <li>
                            Your ticket remains the property of Jobbio and is a personal revocable license, which may be
                            withdrawn, and admission refused at any time upon a refund of the printed registration
                            price.
                          </li>
                          <li> In the unlikely event of cancellation of a conference or event, the liability of Jobbio
                            is limited to the share of paid registration fees that remains after credit card and payment
                            processing fees have been incurred
                            and deducted. In the event of a cancellation you should contact us here <a
                              href="mailto:hello@onjobbio.com">hello@onjobbio.com</a>.</li>
                        </ol>
                      </li>
                      <li>
                        <strong> TICKET RULES</strong>
                        <ol>
                          <li>
                            It is strictly forbidden for any company, organisation or attendee to attempt to host or
                            organise any event in conjunction with, contiguous to or purporting to be related to Jobbio
                            events without the express prior
                            permission and cooperation of Jobbio. In the event of a breach of these terms any tickets
                            purchased will be rendered null and void. Jobbio reserves their right to take such legal
                            action including a claim for damages as
                            may be appropriate.
                          </li>
                          <li>
                            The tickets purchased are for your own personal use or that of your business only and may
                            not be resold under any circumstances, including but not limited to use as part of any
                            promotion or competition. Where there has
                            been any resale or attempted resale of any tickets (or any other breach of this term), we
                            reserve the right to cancel the relevant tickets with immediate effect.
                          </li>
                          <li>
                            Jobbio will not be responsible for any tickets that are lost or stolen.
                          </li>
                          <li>
                            The unauthorised use of photographic and recording equipment at events and conferences is
                            prohibited.
                          </li>
                          <li> Jobbio will not be liable for the granting of any visas that are required to attend any
                            event or conference. In the event that an attendee’s visa is not granted, tickets will not
                            be refunded for any event or
                            conference.</li>
                        </ol>
                      </li>
                      <li>
                        <strong> EVENT CANCELLATION, POSTPONEMENT & SUBSTITUTION POLICY </strong>
                        <ol>
                          <li>
                            Jobbio is not responsible for any loss or damage as a result of a substitution, alteration,
                            cancellation or postponement of an event not hosted by Jobbio.
                          </li>
                          <li>
                            Jobbio will assume no liability whatsoever in the circumstances that an event is cancelled,
                            rescheduled or postponed due to an event of force majeure or any other event that renders
                            performance of an event impracticable,
                            illegal or impossible.
                          </li>
                          <li>
                            If an event is cancelled or postponed, we will try to contact you as early as possible by
                            e-mail, with the e-mail address you have supplied at the time of booking.
                          </li>
                          <li> If an event is rescheduled, you will be informed of the new date / venue once it is
                            confirmed. You can then attend the rescheduled event if you wish or opt to receive a refund.
                          </li>
                          <li> Please note that while speakers and topics are confirmed at the time of publishing,
                            circumstances beyond the control of the organisers may necessitate substitutions,
                            alterations or cancellations of the speakers and/or
                            topics. As such, Jobbio reserves the right to alter or modify the advertised speakers and/or
                            topics if necessary without any liability to you whatsoever. </li>
                        </ol>
                      </li>
                      <li>
                        GENERAL
                        <ol>
                          <li>
                            Jobbio will be entitled to delegate the duties provision of its obligations under this
                            Agreement.
                          </li>
                          <li>
                            No other terms will apply to this Agreement and these terms contain the entire agreement and
                            understanding between us in respect of all matters which are referred to herein and
                            supersede any prior, written or oral
                            agreement between us relating to such matters.
                          </li>
                          <li>
                            You confirm that in agreeing to accept these terms you have not relied on any representation
                            that is not expressly included herein and you agree that you will have no remedy in respect
                            of any misrepresentation which has
                            not become a part of these terms.
                          </li>
                          <li>
                            If any part of the terms herein will be deemed unlawful, void or for any reason
                            unenforceable then that provision will be deemed to be severable from these terms and will
                            not affect the validity and enforceability of any
                            of the remaining provisions of the terms.
                          </li>
                        </ol>
                      </li>
                      <li>
                        <strong> LIABILITY</strong>
                        <ol>
                          <li>
                            Nothing in these Terms and Conditions will operate to exclude or limit Jobbio's liability
                            for death or personal injury caused by Jobbio's negligence, for fraud, or any other
                            liability which cannot be excluded by law.
                          </li>
                          <li>
                            Other than in respect of the forgoing, Jobbio will not be liable to you for any economic,
                            special, indirect or consequential losses incurred by you.
                          </li>
                        </ol>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <!-- End: row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{common/front-footer}}