{{outlet}}
<a id="job-title" class="in-page-link"></a>
<section class="imagebg text-center" data-overlay="8">
  <div class="background-image-holder">
    <img alt="background" src="{{model}}/landing-1.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Cookie Policy</h1>
      </div>
    </div>
  </div>
</section>
<a id="jobs-left-middle-right" class="in-page-link"></a>
<section class="maincolumns channel-company sticky-sidebars">
  <div class="container">
    <div class="col-md-10 middlecol  offset-lg-1">
      <div class="section">
        <div class="job-cards">
          {{#if (eq model.source 'independentjobs')}}
          <div id="intro">
            <div class="row boxed boxed--border post post-text">
              <h3>Who We Are</h3>
              <p>This service is hosted and operated by Avar Communications Limited (t/a Jobbio) under a commercial
                agreement with Independent News & Media (INM), which permits Jobbio to use INM's logos, names and
                trademarks under licence to
                market the service. No personal data is shared by Jobbio with INM.</p>
            </div>
          </div>
          {{/if}}
          <!-- Starts: row -->
          <div id="important-info">
            <div class="row boxed boxed--border post post-text">
              <div class="row">
                <div class="col-12">
                  <h2> Information about our use of Cookies</h2>
                  <p>
                    Our website uses cookies to distinguish you from other users of our website. This helps us to
                    provide
                    you with a good experience when you browse our website and also allows us to improve our site. By
                    continuing to browse the site, you are agreeing to our use of cookies.
                  </p>
                  <p>
                    A cookie is a small file of letters and numbers that we store on your browser or the hard drive of
                    your
                    computer if you agree. Cookies contain information that is transferred to your computer's hard
                    drive.
                  </p>
                  <p>
                    We use the following cookies:
                  </p>
                  <ol>
                    <li>
                      <strong>Strictly necessary cookies.</strong>
                      These are cookies that are required for the operation of our website. They include, for example,
                      cookies that enable you to log into secure areas of our website, or make use of e-billing
                      services.
                    </li>
                    <li>
                      <strong>Analytical/performance cookies.</strong>
                      These allow us to recognise and count the number of visitors and to see how visitors move around
                      our website when they are using it. This helps us to improve the way our website works, for
                      example, by ensuring that users are finding what they are looking for easily.
                    </li>
                    <li>
                      <strong>Functionality cookies.</strong>
                      These are used to recognise you when you return to our website. This enables us to personalise
                      our content for you, greet you by name and remember your preferences (for example, your choice
                      of
                      language or region).
                    </li>
                    <li>
                      <strong>Targeting cookies.</strong>
                      These cookies record your visit to our website, the pages you have visited and the links you
                      have
                      followed. We will use this information to make our website and the advertising displayed on it
                      more relevant to your interests. We may also share this information with third parties for this
                      purpose.
                    </li>
                  </ol>
                  <p>
                    You can find more information about the individual cookies we use and the purposes for which we use
                    them
                    in the table below:
                  </p>
                  <div class="table-wrapper">
                    <table class="table table-bordered rwd-table">
                      <thead>
                        <tr>
                          <th>Cookie</th>
                          <th>Name</th>
                          <th>Purpose</th>
                          <th>More information</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td data-th="Cookie">
                            Functionality cookies
                          </td>
                          <td data-th="Name">
                            PHPSESSID
                          </td>
                          <td data-th="Purpose">
                            This cookie is essential for our site to recognise you when you return to our site.
                          </td>
                          <td data-th="More information">
                            The PHPSESSID cookie is native to PHP and enables websites to store serialised state data.
                            On the Action website it is used to establish a user session and to pass state data via a
                            temporary cookie, which is commonly referred to as a session cookie. As the PHPSESSID cookie
                            has
                            no timed expiry, it disappears when the client is closed.
                          </td>
                        </tr>
                        <tr>
                          <td data-th="Cookie">
                            Strictly necessary cookies
                          </td>
                          <td data-th="Name">
                            _csrf
                          </td>
                          <td data-th="Purpose">
                            This cookie is protect you from CSRF attack.
                          </td>
                          <td data-th="More information">
                            Cross-site request forgery, also known as one-click attack or session riding and abbreviated
                            as
                            CSRF or XSRF, is a type of malicious exploit of a website where unauthorized commands are
                            transmitted from a user that the website trusts. Unlike cross-site scripting (XSS), which
                            exploits the trust a user has for a particular site, CSRF exploits the trust that a site has
                            in
                            a user's browser.
                          </td>
                        </tr>
                        <tr>
                          <td data-th="Cookie">
                            Analytical/performance cookies
                          </td>
                          <td data-th="Name">
                            _ga
                          </td>
                          <td data-th="Purpose">
                            This cookie is essential for our site to estimate our audience size and usage pattern.
                          </td>
                          <td data-th="More information">
                            Google Analytics is a simple, easy-to-use tool that helps website owners measure how users
                            interact with website content.
                          </td>
                        </tr>
                        <tr>
                          <td data-th="Cookie">
                            Functionality cookies
                          </td>
                          <td data-th="Name">
                            _language
                          </td>
                          <td data-th="Purpose">
                            This cookie is essential for our site to store information about your preferences, and so
                            allow
                            us to customise our site and to provide you with offers that are targeted at your individual
                            interests.
                          </td>
                          <td data-th="More information">
                          </td>
                        </tr>
                        <tr>
                          <td data-th="Cookie">
                            Functionality cookies
                          </td>
                          <td data-th="Name">
                            optimizely
                          </td>
                          <td data-th="Purpose">
                            This cookie is essential for our site to allow you to use our site in a way that makes your
                            browsing experience more convenient, for example, by allowing you to store items in an
                            electronic shopping basket between visits. If you register with us or complete our online
                            forms,
                            we will use cookies to remember your details during your current visit, and any future
                            visits
                            provided the cookie was not deleted in the interim.
                          </td>
                          <td data-th="More information">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <p>
                    Please note that third parties (including, for example, advertising networks and providers of
                    external
                    services like web traffic analysis services) may also use cookies, over which we have no control.
                    These
                    cookies are likely to be analytical/performance cookies or targeting cookies.
                  </p>
                  <p>
                    You block cookies by activating the setting on your browser that allows you to refuse the setting of
                    all
                    or some cookies. However, if you use your browser settings to block all cookies (including essential
                    cookies) you may not be able to access all or parts of our site.
                  </p>
                  <p>
                    Except for essential cookies, all cookies will expire after 30 days.
                  </p>
                </div>
              </div>
              <!-- End: row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{common/front-footer}}