{{outlet}}
<a id="banner" class="in-page-link"></a>
<section class="cover text-left height-40 parallax">
  <div class="container text-center pos-vertical-center">
    <div class="row">
      <div class="col-12">
        <h1> Jobbio Is A Better Way To Apply</h1>
        <h3> Take Your Career To New Heights</h3>
      </div>
    </div>
    <div class="bar__module">
      <a id="howItWorksTalentSpeakToUs" class="btn btn--md type--uppercase btn--primary" href="/talent/register">
        <span class="btn__text">Sign Up</span>
      </a>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-10 offset-md-1 text-left">
        <div class="process-1">
          <div class="process__item ">
            <h3 style="color:#ff4f4f; font-weight: 500; text-align:left;">1. Build your Live Professional bio </h3>
            <p> Use your dynamic bio to showcase who you are and what you can do. It’s totally live so you can edit it
              even after you apply, meaning companies always see the most recent version of you.</p>
          </div>
          <div class="process__item ">
            <h3 style="color:#ff4f4f; font-weight: 500; text-align:left;">2. Discover the right opportunities</h3>
            <p> You don’t want any job, you want the right job! 6,000+ companies hire on Jobbio, and we take you behind
              the scenes so you can learn about their mission, their teams and their culture. Once you’ve been inspired
              you can follow their
              #Channel and be the first to know when they’re hiring.</p>
          </div>
          <div class="process__item">
            <h3 style="color:#ff4f4f; font-weight: 500; text-align:left;">3. Follow topic channels of Jobs</h3>
            <p> Want to bring your dog to work? More of a jocks and socks than a suited and booted kinda person? Whether
              you want to work in a tech startup or be part of a company that champions diversity, follow channels of
              interest to you by
              topic, sector or company to find your dream team!</p>
          </div>
          <div class="process__item">
            <h3 style="color:#ff4f4f; font-weight: 500; text-align:left;">4. Apply directly and privately </h3>
            <p> Once you’ve found an opportunity that suits you, apply instantly online or using the mobile app. We
              connect you directly to the company, so your application won’t just go to any person, but to the right
              person. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10">
        <div class="switchable__text text-center">
          <h2>Why Jobbio?</h2>
          <p class="lead" style="font-size: 16px;"> Jobbio is a hiring platform that connects great talent like you with
            great companies quickly, directly and privately. You’re more than a resume. You’re an ever evolving,
            multi-dimensional dream
            hire - and with Jobbio you can show potential employers what you’re made of. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="padding-top:50px;">
    <div class="row">
      <div class="col-sm-4">
        <div class="feature feature-2 boxed boxed--border"> <i class="icon icon-Pen-2 color--primary"></i>
          <div class="feature__body">
            <p> Build a live professional bio, just the way you want it</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature feature-2 boxed boxed--border"> <i class="icon icon-Statistic color--primary"></i>
          <div class="feature__body">
            <p> Gain better insight into your favourite companies </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="feature feature-2 boxed boxed--border"> <i class="icon icon-Paper-Plane color--primary"></i>
          <div class="feature__body">
            <p> Apply easily, directly and privately - with just one click </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-6">
        <div class="cta">
          <h2>Get Started Today</h2>
          <p class="lead"> Your bright future starts now</p>
          <a id="howItWorksTalentSignUp" class="btn btn--lg btn--primary " href="/talent/register">
            <font color="#ffffff"><span><b>SIGN UP</b></span></font>
          </a>
          <a id="howItWorksTalentBrowseJobs" class="btn btn--lg " href="/search">
            <font color="#333"><span><b>BROWSE JOBS</b></span></font>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{common/front-footer}}