{{outlet}}
<div class="main-container">
  <a id="job-title" class="in-page-link"></a>
  <section class="imagebg text-center" data-overlay="8">
    <div class="background-image-holder">
      <img alt="background" src="{{model}}/landing-1.jpg">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Use Policy</h1>
        </div>
      </div>
    </div>
  </section>
  <a id="jobs-left-middle-right" class="in-page-link"></a>
  <section class="maincolumns channel-company sticky-sidebars">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 rightcol sticky-sidebar-rightcol">
          <div class="sidebar__inner">
            <div class="jobs">
              <div class="boxed boxed--border">
                <ul class="no-bullets">
                  <li style="line-height: 30px; font-size: 11px;"><a id="usePolicyIntro" href="#intro">Website Acceptable Use Policy</a></li>
                  <li style="line-height: 30px; font-size: 11px;"><a id="usePolicyInteractive" href="#interactive-services">Interactive Services</a></li>
                  <li style="line-height: 30px; font-size: 11px;"><a id="usePolicyStandards" href="#content-standards">Content Standards</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 middlecol">
          <div class="section">
            <div class="job-cards">
              {{#if (eq model.source 'independentjobs')}}
                <div id="intro">
                  <div class="row boxed boxed--border post post-text">
                    <h3>Who We Are</h3>
                    <p>This service is hosted and operated by Avar Communications Limited (t/a Jobbio) under a commercial agreement with Independent News & Media (INM), which permits Jobbio to use INM's logos, names and trademarks under licence to
                      market the service. No personal data is shared by Jobbio with INM.</p>
                  </div>
                </div>
              {{/if}}
              <!-- Starts: row -->
              <div id="important-info">
                <div class="row boxed boxed--border post post-text">
                  <h2>Website Acceptable Use Policy</h2>
                  <p> This acceptable use policy sets out the terms between you and us under which you may access our
                    website <a id="usePolicyHome" href="https://jobbio.com">www.jobbio.com</a> (our "<strong>Site</strong>"). This acceptable use
                    policy applies to all users of, and visitors to, our site. </p>
                  <p> Your use of our site means that you accept, and agree to abide by, all the policies in this
                    acceptable use policy, which supplement our <a id="usePolicyTerms" href="/terms">terms of website use</a>. </p>
                  <p> <a id="usePolicyHome2" href="https://jobbio.com">www.jobbio.com</a> is a site operated by Avar Communications Limited, trading as Jobbio (we or us). We are registered in
                    Ireland under company number 495027 and we have our registered office at 46 Upper Mount Street, Dublin 2, Ireland. </p>
                  <p> Prohibited Uses </p>
                  <p> You may use our site only for lawful purposes. You may not use our site: </p>
                  <ol>
                    <li> in any way that breaches any applicable local, national or international law or regulation.</li>
                    <li> in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect. </li>
                    <li> for the purpose of harming or attempting to harm minors in any way. </li>
                    <li> to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards. </li>
                    <li> to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam). </li>
                    <li> to knowingly transmit any data, send or upload any material that contains viruses, Trojan
                      horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar
                      computer code designed to adversely affect the operation of any computer software or hardware. </li>
                  </ol>
                  <p> You also agree: </p>
                  <ol>
                    <li> not to reproduce, duplicate copy or re-sell any part of our site in contravention of the
                      provisions of our <a id="usePolicyTerms2" href="/terms">terms of website use</a>. </li>
                    <li> not to access without authority, interfere with, damage or disrupt:
                      <ol type="a">
                        <li> any part of our site; </li>
                        <li> any equipment or network on which our site is stored; </li>
                        <li> any software used in the provision of our site; or </li>
                        <li> any equipment or network or software owned or used by any third party. </li>
                      </ol>
                    </li>
                  </ol>
                </div>
              </div>
              <!-- End: row -->
              <!-- Starts: row -->
              <div id="interactive-services">
                <div class="row boxed boxed--border post post-text">
                  <h3>Interactive Services</h3>
                  <p> We may from time to time provide interactive services on our site, including, without limitation: </p>
                  <ol>
                    <li> Chat rooms. </li>
                    <li> Bulletin boards. </li>
                  </ol>
                  <p> Where we do provide any interactive service, we will provide clear information to you about the kind
                    of service offered, if it is moderated and what form of moderation is used (including whether it is
                    human or technical). </p>
                  <p> We will do our best to assess any possible risks for users from third parties when they use any
                    interactive service provided on our site, and we will decide in each case whether it is appropriate
                    to use moderation of the relevant service (including what kind of moderation to use) in the light of
                    those risks. However, we are under no obligation to oversee, monitor or moderate any interactive service
                    we provide on our site, and we expressly exclude our liability for any loss or damage arising from the
                    use of any interactive service by a user in contravention of our content standards, whether the service
                    is moderated or not. </p>
                  <p> Where we do moderate an interactive service, we will normally provide you with a means of contacting
                    the moderator, should a concern or difficulty arise. </p>
                </div>
              </div>
              <!-- End: row -->
              <!-- Starts: row -->
              <div id="content-standards">
                <div class="row boxed boxed--border post post-text">
                  <h3>Content Standards</h3>
                  <p> These content standards apply to any and all material which you contribute to our site
                    ("<strong>contributions</strong>"), and to any interactive services associated with it. </p>
                  <p> You must comply with the spirit and the letter of the following standards. The standards apply to
                    each part of any contribution as well as to its whole. </p>
                  <p> Contributions must: </p>
                  <ol>
                    <li> be accurate (where they state facts); </li>
                    <li> be genuinely held (where they state opinions); </li>
                    <li> comply with applicable law in the Republic of Ireland and in any country from which they are posted. </li>
                  </ol>
                  <p> Contributions must not: </p>
                  <ol>
                    <li> infringe any copyright, database right or trade mark of any other person; </li>
                    <li> contain any material which is defamatory of any person; </li>
                    <li> contain any material which is obscene, offensive, hateful or inflammatory; </li>
                    <li> promote sexually explicit material; </li>
                    <li> promote violence; </li>
                    <li> promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age; </li>
                    <li> be likely to deceive any person; </li>
                    <li> be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence; </li>
                    <li> promote any illegal activity; </li>
                    <li> be threatening, abuse or invade another’s privacy, or cause annoyance, inconvenience or needless anxiety; </li>
                    <li> be likely to harass, upset, embarrass, alarm or annoy any other person; </li>
                    <li> be used to impersonate any person, or to misrepresent your identity or affiliation with any person; </li>
                    <li> give the impression that they emanate from us, if this is not the case; </li>
                    <li> advocate, promote or assist any unlawful act such as (by way of example only) copyright infringement or computer misuse. </li>
                  </ol>
                </div>
              </div>
              <!-- End: row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{{common/front-footer}}
